<!DOCTYPE html>
<html>
<head>
  <title>Pensamientos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Bienvenidos a los Dichos</h1>
------------------------------------
<%= yield %>

</body>
</html>
